.fullwidth {
  width: 100%;
}
@media (min-width: 768px)
{
	.imgDiv {
		height     : 600px !important;
		width      : 400px !important;
		max-height : 600px !important;
		max-width  : 400px !important;
		float      : right;

		display: inline-block;
		margin-left: 10px;
		padding: 10px;
	}
	.info-item
	{
		overflow : hidden;
	}
}

@media (max-width: 767px)
{
	.imgDiv {
		display: block;
		height     : 600px !important;
		padding-top: 10px;

	}
	.info-item
	{
		/*overflow : hidden;*/
	}
}
.imgDiv
{
	border: 2px solid #000;
	vertical-align : middle;
	text-align: center;
	margin-bottom: 10px;
}

a#editlink
{
	color: #999;
	font-size: 75%;
}
a#historylink
{
	color: #999;
	font-size: 75%;
}
textarea
{
	width: 100%;
	resize: none;
}