<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }} - WLN Updates</title>
		{% else %}
			<title>WLN Updates</title>
		{% endif %}
		<script src="/static/js/jquery-latest.js"></script>
		<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/css/custom.css" rel="stylesheet" media="screen">
		<script src="/static/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block header %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default">

			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Web & Light Novel Updates!</a>
				</div>

				<!--
				<div class="row">
					<div class="navbar-inner">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					</div>


					<div class="navbar-header">

							<ul class="nav">
								<li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
								{% if g.user.is_authenticated() %}
									<li><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Your Profile') }}</a></li>
									<li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
								{% endif %}
							</ul>
						<div class="nav-collapse collapse">
							{% if g.user.is_authenticated() %}
							<form class="navbar-search pull-right" action="{{ url_for('search') }}" method="post" name="search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20, placeholder=_('Search'), class="search-query")}}</form>
							{% endif %}
						</div>
					</div>
				</div>
				-->

			</div>
		</nav>

		<div class="container-fluid">



			<div class="row">
				<div class="col-md-10">
					{% block content %}{% endblock %}
				</div>
				<div class="col-md-2">
					{% include 'nav.html' %}
				</div>
			</div>

			<div class='row'>
				<div class="col-md-12">
					<a href='/about'>About this site</a>
				</div>
			</div>
		</div>
	</body>
</html>
