<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<style>
		div.error
		{
			background-color: #Fcc !important;
		}
	</style>
	{% include 'flash.html' %}
	<div class="well">
		<h3>{{ _('Please confirm your registration.') }}</h3>
		<p>
			You have been sent an email at the address you registered with. Please click the
			confirmation link in that email to activate your account.
		</p>
		<p>
			Note that I'm currently using gmail for sending confirmation mails. The confirmation
			email will be sent from: <pre>wln0updates@gmail.com</pre> Eventually, I'd like
			to get a proper mail server setup, but using gmail was more efficent for the moment.
		</p>

	</div>
{% endblock %}
