<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	{% include 'flash.html' %}
	<div class="well">
		<h3>News</h3>
		{% include 'news.html' %}
	</div>

	<div class="well">
		<h4>Random Novels</h4>
		{% for post in random_series %}
			<div class="well well-tny">

				<a href='/series-id/{{ post.id }}'>{{ post.title }}</a>

			</div>
		{% endfor %}
	</div>


	{% for post in posts.items %}
		{% include 'post.html' %}
	{% endfor %}
{% endblock %}
