
<div class="well well-sm">
	<h3 style='margin-top: 3px; width: 100%; text-align: center;'>Navigation</h3>
	<h4>Novels</h4>
	<div class='nav-item'><a href='/series/'>Series</a></div>
	<div class='nav-item'><a href='/authors/'>Authors</a></div>
	<div class='nav-item'><a href='/artists/'>Artists</a></div>
	<hr>
	<div class='nav-item'><a href='/tags/'>Tags</a></div>
	<div class='nav-item'><a href='/genres/'>Genres</a></div>
	<hr>
	<h4>Translations</h4>
	<div class='nav-item'><a href='/groups'>Groups</a></div>
	<div class='nav-item'><a href='/releases'>Releases</a></div>
	<hr>
	{% if current_user.is_authenticated() %}
		<h4>User Preferences</h4>
		<div class='nav-item'>Logged in as <strong>{{g.user.nickname}}</strong></div>
		<br>
		<div class='nav-item'><a href='/custom-lists'>Custom Lists</a></div>
		<div class='nav-item'><a href='/user-cp'>User Control Panel</a></div>
		<hr>
		<div class='nav-item'><a href='/logout'>Log Out</a></div>
	{% else %}
		<div class='nav-item'><a href='/login'>Login</a></div>
	{% endif %}

</div>