<!-- extend base layout -->
{% macro singleItemBlock(name, value, valId) -%}
	<div class="well well-tny info-item">
		<div class="row singleitem"  id="{{valId}}-container">
			<div class="col-md-3 rowTitle">
				{{ name }}:
				<a id='editlink' href="#" onclick="edit('{{valId}}-container');return false;">[edit]</a>
				<a id='historylink' href="/history/{{valId}}/{{series.id}}">[history]</a>
			</div>
			<div class="col-md-9 rowContents" id='{{valId}}'>
				<span class='singleitem'>{{ ( value if value else "N/A" ) | safe }}</span>
			</div>
		</div>
	</div>
{%- endmacro %}


{% macro multiItemBlock(name, inList, itemKey, valId, link_base) -%}
	<div class="well well-tny info-item">
		<div class="row multiitem" id="{{valId}}-container">
			<div class="col-md-3 rowTitle">
				{{ name }}:
				<a id='editlink' href="#" onclick="edit('{{valId}}-container');return false;">[edit]</a>
				<a id='historylink' href="/history/{{valId}}/{{series.id}}">[history]</a>
			</div>
			<div class="col-md-9 rowContents" id='{{valId}}'>
				{% for item in inList %}
					<span class='multiitem' id='{{valId}}'><a href="/{{link_base}}/{{item.id}}">{{ item[itemKey] }}</a>{% if not loop.last %},{% endif %}</span>

				{% else %}
					<span class='multiitem' id='{{valId}}'>N/A</span>
				{% endfor %}

			</div>
		</div>
	</div>
{%- endmacro %}

{% macro coversBlock(covers) -%}

	{% if covers %}
		<div class='imgDiv'>
			{% for cover in covers %}
				<div id="cover-item" style="display: none;">
					<img src='/cover-img/{{ cover.id }}'>
					{% if cover.description %}
						<h4>{{cover.description}}</h4>
					{% else %}
						<h5>No Description</h5>
					{% endif %}
				</div>
			{% endfor %}
		<p id='cover-offset' style=""></p>

		</div>
	{% else %}
		<style>

			#x{
				position:relative;
				border-radius:2px;
			}
			#x::after,#x::before{
				position:absolute;
				top:200px;
				left:0px;
				content:'';
				display:block;
				width:400px;
				height:10px;
				background-color:red;

			}
			#x::after{
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			#x::before{
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			#x-content {
				width: 400px;
				text-align: center !important ;
			}
			#x-desc-div {
				position: absolute;
				bottom: 0;
				margin-right:auto;
				margin-left:auto;
			}

		</style>
		<div class='imgDiv' id='x'>
			<div id='x-desc-div'>
				<p id='x-content'>No covers! Add one, maybe?</p>
			</div>
		</div>
	{% endif %}
	<script>

		var pos_text = $('p[id="cover-offset"]');
		var divs = $('div[id="cover-item"]');
		if (divs.length == 1)
		{
			console.log("Divs:", divs)
			console.log("ThisDiv:", divs.eq(0))
			divs.eq(0).fadeIn(400);
		}
		else if (divs.length > 1)
		{
			divs.hide();
			var i = 0;

			(function cycle() {
				divs.eq(i).fadeIn(400)
						  .delay(5000)
						  .fadeOut(400, cycle);

				i = ++i % divs.length;

				pos_text.html("Cover " + (i+1) + " of " + divs.length);


			})();
		}
		else
		{
			// No images?
		}
	</script>
{%- endmacro %}


{% extends "base.html" %}

{% block header %}
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<meta name="manga-id" content="{{ series_id }}">

	<script src="/static/js/editable.js"></script>
	<script src="/static/js/autogrow.js"></script>
{% endblock %}

{% block content %}
	{% include 'flash.html' %}


	<div class="well well-large">
		<h2>{{ series.title }}</h2>

			{{coversBlock(covers)}}

			{{singleItemBlock("Description",       series.description, 'description'     )}}
			{{singleItemBlock("Demographic",       series.demographic, 'demographic'     )}}
			{{singleItemBlock("Type",              series.type,        'type'            )}}
			{{singleItemBlock("Country of Origin", series.origin_loc,  'origin_loc'      )}}
			{{singleItemBlock("Original Language", series.orig_lang,   'orig_lang'       )}}
			{{multiItemBlock("Author(s)",          author,             'author',         'author',       'author-id')}}
			{{multiItemBlock("Illustrator(s)",     illustrators,       'name',           'illustrators', 'artist-id')}}
			{{multiItemBlock("Tags",               tags,               'tag',            'tag',          'tag-id')}}
			{{multiItemBlock("Genres",             genres,             'genre',          'genre',        'genre-id')}}

			<div style="clear: both;"></div>

	</div>

	</ul>
{% endblock %}
